syntax: glob

#local only
local.properties

#compiled files and libraries
*.class
*.jad
*.zip
*.rar
*.pyc

#build process
bin/
build/
deployed/
dist/
webdocs/
j2mepolish.index.txt
j2me/buildfiles/

#IDE and polish
.eclipseme.tmp/
.polishSettings/
.settings/
default.build
devices/
*.iml

#OS and environment
*~
.DS_Store

#mercurial
*.rej
*.orig
glob:util/validator/org.javarosa.xform.validator/settings.properties
glob:j2me/demo-app/resources/localizertest.xhtml
glob:j2me/buildfiles/documentation/javadoc/
glob:j2me/javarosa-app/custom-devices.xml
.hg/

#vi
*.swp

# Git ignores not already under source control (like this one is)
.gitignore

# Files from javarosa-dependencies-rNNNN.zip
j2me/javarosa-app/custom-devices.xml
j2me/javarosa-app/tools/ant-contrib.jar
j2me/javarosa-app/tools/j2merosa-libraries.jar
j2me/javarosa-app/tools/pyAntTasks-1.3.jar
util/schema-gen/lib/xpp3-1.1.4.jar
util/validator/org.javarosa.shellformtest/tools/
util/validator/org.javarosa.xform.validator/JavaRosaFormTest.jar

# gradle
.gradle/**
